/* ----------------- */
/* Costum Properties */
/* ----------------- */

:root {
  --clr-primary: rgb(84, 230, 175);
  --clr-white: rgb(255, 255, 255);
  --clr-dark: rgb(18, 23, 37);
  --clr-blue-dark: rgb(44, 52, 75);
  --clr-blue-md: rgb(90, 102, 138);
  --clr-blue-light: rgb(194, 203, 229);
}
