/*
Design System
*/
// Header
#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/desktop/image-host.jpg);
  background-repeat: no-repeat;
  background-position: 20% 18%;
  background-size: cover;
  height: 20vh;

  & > div {
    height: 100%;
  }

  .logo {
    max-width: 8.3rem;
  }

  .page-title {
    .title {
      letter-spacing: 1px;
      font-weight: 200;
      font-size: 2rem;
    }
  }
}

// Section: Colors
#colors {
  padding: 8rem 0;

  > div {
    justify-content: center;
    align-content: center;
  }

  .color {
    padding: 1rem;
    border-radius: 0.5rem;
    max-height: 10.5rem;

    .color-code {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    p {
      margin-bottom: 0.75rem;
      font-size: 1rem;
    }

    span {
      margin-right: 2rem;
    }
  }
}

// Section: Text
#text {
  padding: 2rem 0;

  .grid {
    grid-template-columns: 55% 45%;
  }

  .left {
    h1 {
      font-size: 12.5rem;
    }

    p {
      margin-bottom: 1rem;
    }

    .text {
      font-size: 3.25rem;
      line-height: 1;
      text-transform: uppercase;
    }
  }

  .right {
    padding-inline: 1rem;
    overflow-wrap: break-word;
    p {
      font-size: 1.75rem;
    }
  }
}

/*
Main Styles
*/
body {
  background-color: var(--clr-dark);

  .bg-image-container {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        rgba(11, 18, 37, 0.8),
        rgba(18, 23, 37, 0.8)
      ),
      url(../assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  // Logo
  .logo-container {
    display: flex;
    justify-content: center;
    z-index: 10;
    position: relative;
    padding: 3rem 0;

    .logo {
      max-width: 8.4rem;
    }
  }

  // Main Content
  .main-content {
    z-index: 10;
    position: relative;

    .page-title {
      text-align: center;
      margin-bottom: 1.75rem;
      .title {
        font-size: 1.62rem;
        color: #fff;
      }
    }

    .page-text {
      text-align: center;
      margin-bottom: 1.75rem;

      p {
        letter-spacing: 1px;
        line-height: 1.75;
      }
    }

    .media-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.75rem;

      img {
        max-width: 3.5rem;
      }
    }

    .email-container {
      #form {
        display: flex;
        flex-direction: column;
        input {
          background-color: var(--clr-blue-dark);
          font-size: 14px;
          padding: 0.75rem 1.5rem;
          border-radius: 2rem;
          border: 0;
          margin-bottom: 0.5rem;
          font-family: "Chivo", sans-serif;
          color: #fff;
        }

        small {
          margin-bottom: 0.5rem;
          margin-left: 1.5rem;
          font-size: 0.8rem;
          display: none;

          &.error {
            color: #fb3e3e;
            display: block;
          }
        }

        button {
          font-size: 14px;
          padding: 0.75rem 1rem;
          border-radius: 2rem;
          border: 0;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
